<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tumblr User Analyzer // Get Stats on a Tumblr User</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/styles/app.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="wrapper">
      <div class="container">
        <div class="col-md-12-col-sm-12" id="user-name-input" v-show="loading">
          <h1>Tumblr User Analyzer</h1>
          <p>Type in a username below, hit go, and get some stats based off of that user.</p>
          <p>I'll be making this pretty soon... maybe... lol Made with love using VueJS</p>
          <input type="text" id="user-name-input" v-model="username">
          <button type="button" name="button" @click="getUser">Go!</button>
        </div>
        <div v-bind:class="{'show': show}" v-show="loading" class="loader"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i></div>
        <div class="error" v-show="error">{{msg}}</div>
        <div class="col-md-12-col-sm-12" id="stats" v-show="!loading">
          <div class="col-md-12 col-sm-12" id="tumblr-introduction">
            <h1>Hello!</h1>
            <p>Welcome to <strong>{{username}}</strong>'s Tumblr stats! Is this user a Tumblr badass or is this just some porn bot account? Let's find out.</p>
          </div>
          <!-- <div class="col-md-3 col-sm-12" id="tumblr-title-avatar">
            <img :src="tumblr_avatar" alt="">
            <h1></h1>
            <p></p>
          </div> -->
          <div class="section-introduction userdesc">
            <h1>Basics</h1>
            <p>Let's find out the basic information about {{username}}</p>
          </div>
          <div class="row" id="basics">
            <div class="section-icon">
              <img :src="tumblr_avatar" alt="">
            </div>
            <div class="row">
              <span class="username">{{username}}</span>

              <div class="col-md-12">
                <div class="col-md-4 col-sm-12" id="url">
                  <h2>URL</h2>
                  <a :href="tumblr_url" target="_blank">{{tumblr_url}}</a>
                </div>
                <p>{{username}} has a pretty nice URL. Username hoarding is pretty damn common on Tumblr but did you know that you can only keep a username for 24 months if the account is inactive?</p>
              </div>

              <div class="col-md-12">
                <div class="col-md-4 col-sm-12" id="description">
                  <h2>Description</h2>
                  {{tumblr_description}}
                </div>
                <p>Did you know that cats can sleep upwards to 18 hours a day? Me neither, but hey, nice description.</p>
              </div>

              <div class="col-md-12">
                <div class="col-md-4 col-sm-12" id="title">
                  <h2>Title</h2>
                  {{tumblr_title}}
                </div>
                <p>This user is pretty deep with the titles, don't you think?</p>
              </div>
            </div>
          </div>
          <div class="section-introduction userdesc">
            <h1>Numbers</h1>
            <p>This is the part where you find out how popular {{username}} is.</p>
          </div>
          <div class="row" id="numbers">
            <div class="section-icon">
              <img :src="tumblr_avatar" alt="">
            </div>
            <div class="row">
              <span class="username">{{username}}</span>
              <div class="col-md-12" id="post-count">
                <p>The world's largest jetliner, the Airbus A380, can fit up to 853 passengers in full economy. {{username}} has created <strong>{{tumblr_post_count}} posts</strong>. If {{username}}'s tumblr was the A380, it would need to travel {{Math.round(tumblr_post_count / 853)}} times to carry that many people.</p>
              </div>
              <div class="col-md-12" id="note-count">
                <p><a href="https://twitter.com/carterjwm/status/849813577770778624/photo/1">The most retweeted tweet in history has 1 million likes</a>. {{username}} has <strong>{{total_notecount}} total combined notes</strong> within the last twenty posts made (reblogs included). It ain't chicken nuggets, but, hey. That's a lot of notes.</p>
              </div>
              <div class="col-md-12" id="frequency">
                <div class="col-md-12 col-sm-12">
                  <p>So, with that in mind, of the <strong>last twenty text posts</strong>, {{username}} has used these words the most.</p>
                  <ul>
                    <li v-for="word in totalWordCount.slice(0,10)"><a :href="'https://www.google.com/search?q=' + word.item" target="_blank">{{word.item}}</a> <small>({{word.frequency}})</small></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="section-introduction useractivity">
            <h1>Activity</h1>
            <p>How active is {{username}}?</p>
          </div>
          <div class="row" id="activity">
            <div class="section-icon">
              <img :src="tumblr_avatar" alt="">
            </div>
            <div class="row">
              <span class="username">{{username}}</span>
              <div class="col-md-12 col-sm-12" id="allowed-asks">
                {{tumblr_allow_asks}}
              </div>
              <div class="col-md-12 col-sm-12" id="nsfw">
                {{tumblr_nsfw}}
              </div>
              <div class="col-md-12 col-sm-12" id="active">
                {{tumblr_active}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="complied/main.min.js" charset="utf-8"></script>
  </body>
</html>
