@keyframes spinning-shapes
  to
    transform: rotate(0) translateX(0px) translateY(0px)
  from
    transform: rotate(360deg) translateX(0px) translateY(0px)

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

.slide-enter-active, .slide-leave-active
  transition: opacity .5s
  animation: slide-in .5s forwards

.slide-enter, .slide-leave-to
  opacity: 0
