//Wrapper

body
  background-color: $tumblrblue
  color: $white

  a
    color: lighten($tumblrlinkblue, 10%)

div#wrapper
  position: relative
  width: 100%
  height: 100%
  text-align: center

  div.loader
    position: relative
    width: 50%
    height: 1px

    i.fa
      display: none

  div.show, div.error
    display: block
    margin: 120px auto
    height: auto !important

    i.fa
      display: block !important
      margin: 0 auto

  div#user-name-input
    position: relative
    text-align: center
    margin-top: 100px

    p
      display: block
      margin: 2.6rem auto

    input[type="text"]
      border: none
      background-color: $white
      color: $tumblrblue
      width: 50%
      font-size: 20pt
      padding: 5px
      border-radius: 20px
    button
      position: relative
      background-color: $tumblrgreen
      border: none
      border-radius: 20px
      font-size: 20pt
      padding: 5px
      width: 100px
      left: -55px
      z-index: 10

  div#stats
    position: relative
    margin-top: 50px
    text-align: center

    div#tumblr-introduction
      position: relative

      h1
        font-size: 36pt
        font-weight: 300
        margin-bottom: 2rem

      p
        font-size: 18pt
        font-weight: 300

    div#tumblr-title-avatar
      position: relative

      img
        width: 150px
        height: 150px
        border-radius: 50%

    div.section-introduction
      position: relative
      width: 100%
      padding: 10px
      z-index: 999999

      h1
        position: relative
        font-weight: 200
        margin-top: 1.5rem

      p
        position: relative
        margin-top: 2rem
        font-size: 15pt
        font-weight: 300
        width: 100%

    div.userdesc, div.useractivity
      clear: both
      text-align: left

    div.section-icon
      position: relative
      width: 65px
      height: 100%
      float: left
      border-radius: 5px
      overflow: hidden

      img
        width: 65px
        height: 65px

    div#basics, div#activity, div#numbers
      padding: 15px
      //background-image: linear-gradient(45deg,#B6C1D4,#EC68B1)
      color: $white
      text-align: left
      color: #343434

      div.row
        background-color: $white
        margin-left: 80px
        border-radius: 10px
        padding: 15px
        text-align: left

        span.username
          font-size: 12pt
          color: #343434
          font-weight: 600

      a
        color: $tumblrlinkblue

      p
        font-weight: 300
        font-size: 18pt

    div
      margin: 2.5rem 0

      h2
        position: relative
        display: block
        margin: 0 auto
        top: -2rem
        width: 30%
        padding: 5px
        font-weight: 300
        font-size: 20pt
        z-index: 2

      span.circle-data
        position: relative
        display: flex
        border-radius: 50%
        border: 6px solid $magenta
        color: $magenta
        height: 120px
        width: 23%
        margin: 0 auto
        align-items: center
        justify-content: center
        font-size: 14pt

    div.row
      h2
        width: 100%

      ul
        list-style: none
        margin-top: 1.5rem

        li
          display: inline-block
          margin: 1rem 2rem
          font-size: 14pt
          //background-image: linear-gradient(45deg,#B6C1D4,#EC68B1)
          //color: $tumblrblue
          padding: 10px
          border-radius: 20px

    div#post-count, #frequency, div#note-count
      font-size: 24pt
      font-weight: 200
      position: relative
      text-align: left

      strong
        text-decoration: underline

      span.circle-data
        border-image: linear-gradient(45deg,#FBCA88,#EF69AD) 10
        color: #f7a184

      h2
        background-color: #f7a184
        border: #f7a184
        color: $tumblrblue
        width: 50%

    div#active, div#nsfw, div#allowed-asks
      position: relative
      font-size: 18pt
      font-weight: 300

@media (max-width: 768px)
  div#activity, div#basics
    padding-left: 0px !important
    margin-left: 0px !important
    margin-top: 0px !important
  div.section-introduction
    z-index: 1 !important
    width: 100% !important
    height: auto !important
