body {
  background-color: #29354a;
  color: white; }
  body a {
    color: #59a2df; }

div#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; }
  div#wrapper div.loader {
    position: relative;
    width: 50%;
    height: 1px; }
    div#wrapper div.loader i.fa {
      display: none; }
  div#wrapper div.show, div#wrapper div.error {
    display: block;
    margin: 120px auto;
    height: auto !important; }
    div#wrapper div.show i.fa, div#wrapper div.error i.fa {
      display: block !important;
      margin: 0 auto; }
  div#wrapper div#user-name-input {
    position: relative;
    text-align: center;
    margin-top: 100px; }
    div#wrapper div#user-name-input p {
      display: block;
      margin: 2.6rem auto; }
    div#wrapper div#user-name-input input[type="text"] {
      border: none;
      background-color: white;
      color: #29354a;
      width: 50%;
      font-size: 20pt;
      padding: 5px;
      border-radius: 20px; }
    div#wrapper div#user-name-input button {
      position: relative;
      background-color: #7eb42b;
      border: none;
      border-radius: 20px;
      font-size: 20pt;
      padding: 5px;
      width: 100px;
      left: -55px;
      z-index: 10; }
  div#wrapper div#stats {
    position: relative;
    margin-top: 50px;
    text-align: center; }
    div#wrapper div#stats div#tumblr-introduction {
      position: relative; }
      div#wrapper div#stats div#tumblr-introduction h1 {
        font-size: 36pt;
        font-weight: 300;
        margin-bottom: 2rem; }
      div#wrapper div#stats div#tumblr-introduction p {
        font-size: 18pt;
        font-weight: 300; }
    div#wrapper div#stats div#tumblr-title-avatar {
      position: relative; }
      div#wrapper div#stats div#tumblr-title-avatar img {
        width: 150px;
        height: 150px;
        border-radius: 50%; }
    div#wrapper div#stats div.section-introduction {
      position: relative;
      width: 100%;
      padding: 10px;
      z-index: 999999; }
      div#wrapper div#stats div.section-introduction h1 {
        position: relative;
        font-weight: 200;
        margin-top: 1.5rem; }
      div#wrapper div#stats div.section-introduction p {
        position: relative;
        margin-top: 2rem;
        font-size: 15pt;
        font-weight: 300;
        width: 100%; }
    div#wrapper div#stats div.userdesc, div#wrapper div#stats div.useractivity {
      clear: both;
      text-align: left; }
    div#wrapper div#stats div.section-icon {
      position: relative;
      width: 65px;
      height: 100%;
      float: left;
      border-radius: 5px;
      overflow: hidden; }
      div#wrapper div#stats div.section-icon img {
        width: 65px;
        height: 65px; }
    div#wrapper div#stats div#basics, div#wrapper div#stats div#activity, div#wrapper div#stats div#numbers {
      padding: 15px;
      color: white;
      text-align: left;
      color: #343434; }
      div#wrapper div#stats div#basics div.row, div#wrapper div#stats div#activity div.row, div#wrapper div#stats div#numbers div.row {
        background-color: white;
        margin-left: 80px;
        border-radius: 10px;
        padding: 15px;
        text-align: left; }
        div#wrapper div#stats div#basics div.row span.username, div#wrapper div#stats div#activity div.row span.username, div#wrapper div#stats div#numbers div.row span.username {
          font-size: 12pt;
          color: #343434;
          font-weight: 600; }
      div#wrapper div#stats div#basics a, div#wrapper div#stats div#activity a, div#wrapper div#stats div#numbers a {
        color: #2e8ad7; }
      div#wrapper div#stats div#basics p, div#wrapper div#stats div#activity p, div#wrapper div#stats div#numbers p {
        font-weight: 300;
        font-size: 18pt; }
    div#wrapper div#stats div {
      margin: 2.5rem 0; }
      div#wrapper div#stats div h2 {
        position: relative;
        display: block;
        margin: 0 auto;
        top: -2rem;
        width: 30%;
        padding: 5px;
        font-weight: 300;
        font-size: 20pt;
        z-index: 2; }
      div#wrapper div#stats div span.circle-data {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 50%;
        border: 6px solid #e0007e;
        color: #e0007e;
        height: 120px;
        width: 23%;
        margin: 0 auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        font-size: 14pt; }
    div#wrapper div#stats div.row h2 {
      width: 100%; }
    div#wrapper div#stats div.row ul {
      list-style: none;
      margin-top: 1.5rem; }
      div#wrapper div#stats div.row ul li {
        display: inline-block;
        margin: 1rem 2rem;
        font-size: 14pt;
        padding: 10px;
        border-radius: 20px; }
    div#wrapper div#stats div#post-count, div#wrapper div#stats #frequency, div#wrapper div#stats div#note-count {
      font-size: 24pt;
      font-weight: 200;
      position: relative;
      text-align: left; }
      div#wrapper div#stats div#post-count strong, div#wrapper div#stats #frequency strong, div#wrapper div#stats div#note-count strong {
        text-decoration: underline; }
      div#wrapper div#stats div#post-count span.circle-data, div#wrapper div#stats #frequency span.circle-data, div#wrapper div#stats div#note-count span.circle-data {
        -o-border-image: linear-gradient(45deg, #FBCA88, #EF69AD) 10;
           border-image: linear-gradient(45deg, #FBCA88, #EF69AD) 10;
        color: #f7a184; }
      div#wrapper div#stats div#post-count h2, div#wrapper div#stats #frequency h2, div#wrapper div#stats div#note-count h2 {
        background-color: #f7a184;
        border: #f7a184;
        color: #29354a;
        width: 50%; }
    div#wrapper div#stats div#active, div#wrapper div#stats div#nsfw, div#wrapper div#stats div#allowed-asks {
      position: relative;
      font-size: 18pt;
      font-weight: 300; }

@media (max-width: 768px) {
  div#activity, div#basics {
    padding-left: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important; }
  div.section-introduction {
    z-index: 1 !important;
    width: 100% !important;
    height: auto !important; } }

@-webkit-keyframes spinning-shapes {
  to {
    -webkit-transform: rotate(0) translateX(0px) translateY(0px);
            transform: rotate(0) translateX(0px) translateY(0px); }
  from {
    -webkit-transform: rotate(360deg) translateX(0px) translateY(0px);
            transform: rotate(360deg) translateX(0px) translateY(0px); } }

@keyframes spinning-shapes {
  to {
    -webkit-transform: rotate(0) translateX(0px) translateY(0px);
            transform: rotate(0) translateX(0px) translateY(0px); }
  from {
    -webkit-transform: rotate(360deg) translateX(0px) translateY(0px);
            transform: rotate(360deg) translateX(0px) translateY(0px); } }

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }

.slide-enter-active, .slide-leave-active {
  transition: opacity .5s;
  -webkit-animation: slide-in .5s forwards;
          animation: slide-in .5s forwards; }

.slide-enter, .slide-leave-to {
  opacity: 0; }
